<h3 id="mmm-is">
  {% include t.html lang=include.lang page="home" key="whatIsM3" %}
</h3>

<p>
  {% include t.html lang=include.lang page="home" key="what" %} {% include
  t.html lang=include.lang page="home" key="summary" %}
</p>

<h3 id="mmm-do">
  {% include t.html lang=include.lang page="home" key="whatDoesM3" %}
</h3>

<p>{% include t.html lang=include.lang page="home" key="m3Can" %}</p>
<p>{% include t.html lang=include.lang page="home" key="presentMode" %}</p>
<ul>
  <li>{% include t.html lang=include.lang page="home" key="thumbnails" %}</li>
  <li>{% include t.html lang=include.lang page="home" key="playback" %}</li>
  <li>{% include t.html lang=include.lang page="home" key="music" %}</li>
  <li>{% include t.html lang=include.lang page="home" key="monitors" %}</li>
  <li>{% include t.html lang=include.lang page="home" key="obs" %}</li>
</ul>

<p>{% include t.html lang=include.lang page="home" key="remote" %}</p>

<h3 id="language">
  {% include t.html lang=include.lang page="home" key="doesM3Work" %}
</h3>

<p>{% include t.html lang=include.lang page="home" key="m3Works" %}</p>

<p>{% include t.html lang=include.lang page="home" key="m3Translated" %}</p>

<p>{% include t.html lang=include.lang page="home" key="closing" %}</p>

<h3>{% include t.html lang=include.lang page="home" key="screenshots" %}</h3>
