html,
body {
  height: 100%;
}

body {
  min-width: 960px;
  background: $base-background;

  @media (prefers-color-scheme: dark) {
    background: $base-background-dark;
  }
}

body,
input,
textarea {
  color: $base-color;
  font: 1em 'Open Sans', Arial, sans-serif;

  @media (prefers-color-scheme: dark) {
    color: $base-color-dark;
  }
}

.highlight {
  background-color: $highlight !important;

  @media (prefers-color-scheme: dark) {
    background-color: $highlight-dark !important;
  }
}

.showcase img {
  max-width: 702px;
}

a {
  color: $blue-primary;
  text-decoration: none;

  &:hover {
    color: $blue-secondary;
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    color: $blue-tertiary-dark;

    &:hover {
      color: $blue-secondary-dark;
    }
  }
}
/*
h1,
h2,
h3,
h4,
p,
ul,
code {
  margin: 0 0 20px;
}
*/
h1,
h2,
h3,
h4 {
  margin: 2em 0 1em;
}

code {
  font-family: 'Monaco', monospace, sans-serif;
}

blockquote {
  border-left: 0.5em $blockquote-border solid;
  margin: 0;
  padding: 0.5em 2em;
  font-style: italic;

  @media (prefers-color-scheme: dark) {
    border-color: $blockquote-border-dark;
  }
}

kbd {
  font-family: monospace;
  background: $kbd-background;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  border: solid $kbd-border 2px;
  font-weight: bold;

  @media (prefers-color-scheme: dark) {
    background: $kbd-background-dark;
    border-color: $kbd-border-dark;
  }
}

table {
  margin: 1em 0;
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  /*
  code {
    white-space: nowrap;
  }
  */
  th {
    text-align: left;
  }

  th,
  td {
    padding: 0.5em 1em;
  }

  thead {
    background: $blue-primary;

    @media (prefers-color-scheme: dark) {
      background: $blue-primary-dark;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background: $table-row-bg;

        @media (prefers-color-scheme: dark) {
          background: $table-row-bg-dark;
        }
      }
    }
  }
}
