#content {
  padding: 20px;
  padding-left: 260px;
  max-width: 1000px;

  .control {
    cursor: pointer;
    font-size: 12px;
    margin-left: 15px;
  }

  .body {
    max-height: 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid $code-background;
    box-sizing: border-box;
    display: block;
    padding: 15px 15px 0;
    width: 100%;
    transition: max-height .5s ease-in-out;

    @media (prefers-color-scheme: dark) {
      border-top-color: $code-background-dark;
    }

    &.active {
      transition: max-height .5s ease-in-out;
      max-height: 10000px
    }

    code {
      border: 1px solid $code-border;
      background: $code-background;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      color: $code-color;
      padding: 0 1px;

      @media (prefers-color-scheme: dark) {
        background: $code-background-dark;
        border-color: $code-border-dark;
        color: $code-color-dark;
      }
    }
  }

  a {
    h2 {
      color: $article-header;
      font-size: 18px;
      font-weight: normal;
      margin: 0;

      @media (prefers-color-scheme: dark) {
        color: $article-header-dark;
      }

      code {
        float: right;
        font-size: 14px;

        b {
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          color: $article-header;
          font-weight: normal;
          padding: 3px 6px;

          @media (prefers-color-scheme: dark) {
            color: $article-header-dark;
          }
        }
      }
    }
  }

  article {
    clear: both;
    margin: 15px 0;
    border-color: $code-border;

    @media (prefers-color-scheme: dark) {
      border-color: $code-border-dark;
    }

    > a {
      background: $blue-primary;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      cursor: pointer;
      display: block;
      padding: 15px;

      &:hover {
        background: $blue-secondary;
        text-decoration: none;
      }

      @media (prefers-color-scheme: dark) {
        background: $blue-primary-dark;

        &:hover {
          background: $blue-secondary-dark;
        }
      }
    }

    a {
      h2 {
        code {
          color: $code-color;

          b {
            background: $code-color;
            text-transform: uppercase;
          }

          @media (prefers-color-scheme: dark) {
            color: $code-color-dark;

            b {
              background: $code-color-dark;
            }
          }
        }
      }
    }
  }
}
