#content {
  padding: 20px;
  padding-left: 260px;
  max-width: 1000px;

  .control {
    cursor: pointer;
    font-size: 12px;
    margin-left: 15px;
  }

  .body {
    max-height: 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid $code-background;
    box-sizing: border-box;
    display: block;
    padding: 15px 15px 0;
    width: 100%;
    transition: max-height .5s ease-in-out;

    &.active {
      transition: max-height .5s ease-in-out;
      max-height: 10000px
    }

    code {
      border: 1px solid $code-border;
      background: $code-background;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      color: #546974;
      padding: 0 1px;
    }
  }

  a {
    h2 {
      color: #fff;
      font-size: 18px;
      font-weight: normal;
      margin: 0;

      code {
        float: right;
        font-size: 14px;

        b {
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          color: #fff;
          font-weight: normal;
          padding: 3px 6px;
        }
      }
    }
  }

  article {
    $code-color: #657e8b;

    clear: both;
    margin: 15px 0;
    border-color: $code-border;

    &.GET {
      $code-color: $blue-primary;
    }

    &.POST {
      $code-color: $code-post;
    }

    &.PUT {
      $code-color: $code-put;
    }

    &.DELETE {
      $code-color: $code-delete;
    }

    > a {
      background: $blue-primary;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      cursor: pointer;
      display: block;
      padding: 15px;

      &:hover {
        background: $blue-secondary;
        text-decoration: none;
      }
    }

    a {
      h2 {
        code {
          color: $code-color;

          b {
            background: $code-color;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
