#sidebar {
  background: $blue-primary;
  color: #fff;
  float: left;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 240px;

  h1 {
    background: $blue-secondary;
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 90%;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  input {
    background: $blue-tertiary;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: inset 0 0 5px $shadow-base;
    -moz-box-shadow: inset 0 1px 5px $shadow-base;
    -webkit-box-shadow: inset 0 1px 5px $shadow-base;
    margin-bottom: 20px;
    padding: 5px 10px;

    &:active,
    &:focus {
      border-color: #ccc;
      box-shadow: inset 0 0 5px $shadow-active;
      -moz-box-shadow: inset 0 1px 5px $shadow-active;
      -webkit-box-shadow: inset 0 1px 5px $shadow-active;
      outline: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    &#links {
      padding: 20px;
    }

    ul {
      padding-left: 20px;
    }

    li {
      a {
        color: #fff;
        display: block;
        padding: 0 0 15px;

        &:active,
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
