<table class="showcase" markdown="0">
  {% include image.html src="manage/song-media.png" alt="imgAddSong"
  lang=include.lang page="manage-media" %} {% include image.html
  src="manage/custom-media.png" alt="imgAddPic" lang=include.lang
  page="manage-media" %} {% include image.html src="manage/jwpub-extract.png"
  alt="imgImportJWPUB" lang=include.lang page="manage-media" %} {% include
  image.html src="manage/jwpub-media.png" alt="imgPreviewJWPUB"
  lang=include.lang page="manage-media" %} {% include image.html
  src="manage/rename-media.png" alt="imgRename" lang=include.lang
  page="manage-media" %}
</table>
