<table class="showcase" markdown="0">
  {% include image.html src="present/launch-present-mode.png" alt="imgButton"
  lang=include.lang page="present-media" %} {% include image.html src="present/default-bg.png"
  alt="imgBG" lang=include.lang page="present-media" %} {% include image.html
  src="present/media-list.png" alt="imgMediaList" lang=include.lang
  page="present-media" %} {% include
  image.html src="present/picture-playing.png" alt="imgDisplayPic"
  lang=include.lang page="present-media" %} {% include image.html
  src="present/video-playing.png" alt="imgPlayVideo" lang=include.lang
  page="present-media" %} {% include image.html src="present/video-scrub.png"
  alt="imgVideoScrub" lang=include.lang page="present-media" %}
</table>
