{% assign posts=site.posts | where:"lang", page.lang %} {% assign post=posts |
where:"ref", "manage-media" %} {% assign link= '<a href="[LANG]/#[POSTURL]"
  >[POSTTITLE]</a
>' | strip_newlines | strip | replace: '[POSTURL]', post[0].ref | replace:
'[LANG]', page.lang %} {% assign linkManageMedia=link | replace: '[POSTTITLE]',
post[0].title %} {% assign post=posts | where:"ref", "configuration" %} {%
assign link= '<a href="[LANG]/#[POSTURL]">[POSTTITLE]</a>' | strip_newlines |
strip | replace: '[POSTURL]', post[0].ref | replace: '[LANG]', page.lang %} {%
assign linkConfig=link | replace: '[POSTTITLE]', post[0].title %}
<p>{% include t.html lang=include.lang page="congregation-sync" key="vo" %}</p>
<p>
  {% include t.html lang=include.lang page="congregation-sync" key="voCan" %}
</p>
<ul>
  <li>
    {% include t.html lang=include.lang page="congregation-sync"
    key="additional" %}
  </li>
  <li>
    {% include t.html lang=include.lang page="congregation-sync" key="hide" %}
  </li>
  <li>
    {% include t.html lang=include.lang page="congregation-sync" key="recurring"
    %}
  </li>
</ul>
{% assign fetch= include.lang.congregation-sync.fetchMedia %} {% if fetch == nil
%} {% assign fetch= site.data.en.congregation-sync.fetchMedia %} {% endif %} {%
assign string= include.lang.congregation-sync.synced %} {% if string == nil %}
{% assign string= site.data.en.congregation-sync.synced %} {% endif %}
<p>{{ string | replace: '[FETCH]', fetch }}</p>

<p>
  {% include t.html lang=include.lang page="congregation-sync" key="note" %}
</p>

<h3>
  {% include t.html lang=include.lang page="congregation-sync" key="how" %}
</h3>

<p>
  {% include t.html lang=include.lang page="congregation-sync" key="webdav" %}
</p>
<ul>
  <li>
    {% include t.html lang=include.lang page="congregation-sync"
    key="webdavServer" %}
  </li>
  {% assign congSync= include.lang.shared.optionsCongSync %} {% if congSync ==
  nil %} {% assign congSync= site.data.en.shared.optionsCongSync %} {% endif %}
  {% assign hostname= include.lang.congregation-sync.hostname %} {% if hostname
  == nil %} {% assign hostname= site.data.en.congregation-sync.hostname %} {%
  endif %} {% assign string= include.lang.congregation-sync.externalWebdav %} {%
  if string == nil %} {% assign string=
  site.data.en.congregation-sync.externalWebdav %} {% endif %}
  <li>
    {{string | replace: '[HOSTNAME]', hostname | replace: '[CONG SYNC]',
    congSync }}
  </li>
</ul>

<p>
  {% include t.html lang=include.lang page="congregation-sync" key="credentials"
  %}
</p>

<h3>{{congSync}}</h3>

<table>
  <thead>
    <tr>
      <th>
        {% include t.html lang=include.lang page="shared" key="setting" %}
      </th>
      <th>
        {% include t.html lang=include.lang page="shared" key="explanation" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>{{hostname}}</code></td>
      <td>
        {% include t.html lang=include.lang page="congregation-sync"
        key="hostDesc" %}<br />
        <br />
        <blockquote>
          {% include t.html lang=include.lang page="congregation-sync"
          key="hostNote" %} <br /><br />{% include t.html lang=include.lang
          page="congregation-sync" key="hostList" %} {% include t.html
          lang=include.lang page="congregation-sync" key="hostBest" %}
        </blockquote>
      </td>
    </tr>
    <tr>
      <td>
        <code
          >{% include t.html lang=include.lang page="shared" key="port" %}</code
        >
      </td>
      <td>
        {% include t.html lang=include.lang page="congregation-sync"
        key="portDesc" %}
      </td>
    </tr>
    <tr>
      <td>
        <code
          >{% include t.html lang=include.lang page="congregation-sync"
          key="username" %}</code
        >
      </td>
      <td>
        {% include t.html lang=include.lang page="congregation-sync"
        key="userDesc" %}
      </td>
    </tr>
    <tr>
      <td>
        <code
          >{% include t.html lang=include.lang page="shared" key="password"
          %}</code
        >
      </td>
      <td>
        {% include t.html lang=include.lang page="congregation-sync"
        key="passDesc" %}<br />
        <br />
        {% assign box='<a
          href="https://support.box.com/hc/en-us/articles/360043696414-WebDAV-with-Box"
          >Box</a
        >' | strip_newlines | strip %}{% assign koofr='<a
          href="https://koofr.eu/help/koofr_with_webdav/how-do-i-connect-a-service-to-koofr-through-webdav/"
          >Koofr</a
        >' | strip_newlines | strip %} {% assign string=
        include.lang.congregation-sync.passNote %} {% if string == nil %} {%
        assign string= site.data.en.congregation-sync.passNote %} {% endif %}
        <blockquote>
          {{ string | replace: '[BOX]', box | replace: '[KOOFR]', koofr }}
        </blockquote>
      </td>
    </tr>
    <tr>
      <td>
        <code
          >{% include t.html lang=include.lang page="congregation-sync"
          key="webdavFolder" %}</code
        >
      </td>
      <td>
        {% include t.html lang=include.lang page="congregation-sync"
        key="folderDesc" %}<br />
        <br />
        {% include t.html lang=include.lang page="congregation-sync"
        key="folderChoices" %}<br />
        <br />
        <blockquote>
          {% include t.html lang=include.lang page="congregation-sync"
          key="folderNote" %}
        </blockquote>
      </td>
    </tr>
    <tr>
      <td>
        <code>
          {% include t.html lang=include.lang page="congregation-sync"
          key="settingsLocked" %}
        </code>
      </td>
      {% assign media= include.lang.shared.optionsMedia %} {% if media == nil %}
      {% assign media= site.data.en.shared.optionsMedia %} {% endif %} {% assign
      meeting= include.lang.shared.optionsMeetings %} {% if meeting == nil %} {%
      assign meeting= site.data.en.shared.optionsMeetings %} {% endif %} {%
      assign string= include.lang.congregation-sync.settingsDesc %} {% if string
      == nil %} {% assign string= site.data.en.congregation-sync.settingsDesc %}
      {% endif %}
      <td>
        {{ string | replace: '[MEDIA SETUP]', media | replace: '[MEETINGSETUP]',
        meeting | replace: '[SETTINGS]', linkConfig }} {% include t.html
        lang=include.lang page="congregation-sync" key="settingsExample" %} {%
        include t.html lang=include.lang page="congregation-sync"
        key="settingsNote" %}
      </td>
    </tr>
  </tbody>
</table>

<h3>
  {% include t.html lang=include.lang page="congregation-sync"
  key="usingCongSync" %}
</h3>
{% assign string= include.lang.congregation-sync.usageDesc %} {% if string ==
nil %} {% assign string= site.data.en.congregation-sync.usageDesc %} {% endif %}
<p>{{string | replace: '[MANAGE MEDIA]', linkManageMedia}}</p>

<h3>
  {% include t.html lang=include.lang page="congregation-sync" key="screenshots"
  %}
</h3>

<table class="showcase" markdown="0">
  {% include image.html src="settings/cong.png" alt="optionsCongSync"
  lang=include.lang page="shared" %}
</table>
