<h3>{% include t.html lang=include.lang page="faq" key="depends" %}</h3>

<p>
  {% include t.html lang=include.lang page="faq" key="dependsAns" %} {% include
  t.html lang=include.lang page="faq" key="dependsExplain" %} {% include t.html
  lang=include.lang page="faq" key="dependsRuntime" %} {% include t.html
  lang=include.lang page="faq" key="dependsSource" %}
</p>

<h3>{% include t.html lang=include.lang page="faq" key="infringe" %}</h3>
{% assign string= include.lang.faq.termsOfUse %} {% if string == nil %} {%
assign string= site.data.en.faq.termsOfUse %} {% endif %} {% assign link='<a
  href="https://www.jw.org/finder?docid=1011511&prefer=content"
  >[TERMS]</a
>' | replace: '[TERMS]', string %} {% assign string=
include.lang.faq.infringeAns %} {% if string == nil %} {% assign string=
site.data.en.faq.infringeAns %} {% endif %}
<p>
  {{ string | replace: '[TERMS]', link }} {% include t.html lang=include.lang
  page="faq" key="infringeExplain" %}
</p>

<blockquote>
  {% include t.html lang=include.lang page="faq" key="termsNot" %}<br />
  <br />
  {% include t.html lang=include.lang page="faq" key="termsCreate" %} {% include
  t.html lang=include.lang page="faq" key="termsCan" %}
</blockquote>
