{% assign posts=site.posts | where:"lang", page.lang %} {% assign string=
include.lang.installation.download %} {% if string == nil %} {% assign string=
site.data.en.installation.download %} {% endif %} {% assign link='<a
  href="[GITHUB]/releases/latest"
  >[DOWNLOAD]</a
>' | replace: '[DOWNLOAD]', string | replace: '[GITHUB]', site.github %} {%
assign string= include.lang.installation.install %} {% if string == nil %} {%
assign string= site.data.en.installation.install %} {% endif %}
<p>
  {% include t.html lang=include.lang page="installation" key="adminPriv" %}
  {{string | replace: '[DOWNLOAD]', link}}
</p>

<table>
  <thead>
    <tr>
      <th>
        {% include t.html lang=include.lang page="installation" key="os" %}
      </th>
      <th>
        {% include t.html lang=include.lang page="installation" key="file" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Windows</td>
      <td>
        <code> meeting-media-manager-[VERSION]-[ARCH].exe </code>
      </td>
    </tr>
    <tr>
      <td>MacOS</td>
      <td>
        <code> meeting-media-manager-[VERSION]-[ARCH]-universal.dmg </code>
      </td>
    </tr>
    <tr>
      <td>Linux</td>
      <td>
        <code> meeting-media-manager-[VERSION]-[ARCH].AppImage </code>
      </td>
    </tr>
  </tbody>
</table>

{% assign post=posts | where:"ref", "configuration" %} {% assign link= '<a
  href="[LANG]/#[POSTURL]"
  >[POSTTITLE]</a
>' | strip_newlines | strip | replace: '[POSTURL]', post[0].ref | replace:
'[LANG]', page.lang %} {% assign linkConfig=link | replace: '[POSTTITLE]',
post[0].title %}

<h3>{% include t.html lang=include.lang page="installation" key="next" %}</h3>

{% assign string= include.lang.installation.configure %} {% if string == nil %}
{% assign string= site.data.en.installation.configure %} {% endif %}

<p>{{ string | replace: '[SETTINGS]', linkConfig }}</p>

<h3>
  {% include t.html lang=include.lang page="installation" key="trouble" %}
</h3>
{% assign post=posts | where:"ref", "usage-notes" %} {% assign link= '<a
  href="[LANG]/#[POSTURL]"
  >[POSTTITLE]</a
>' | strip_newlines | strip | replace: '[POSTURL]', post[0].ref | replace:
'[LANG]', page.lang %} {% assign linkNotes=link | replace: '[POSTTITLE]',
post[0].title %} {% assign string= include.lang.installation.check %} {% if
string == nil %} {% assign string= site.data.en.installation.check %} {% endif
%}
<p>{{ string | replace: '[TECHNOTES]', linkNotes }}</p>
