<p>{% include t.html lang=include.lang page="usage-notes" key="run" %}</p>

<h3>Windows: {% include t.html lang=include.lang page="usage-notes" key="install" %}</h3>
{% assign link='<a href="assets/img/other/win-smartscreen.png">error</a>' %} {%
assign string= include.lang.usage-notes.winError %} {% if string == nil %} {%
assign string= site.data.en.usage-notes.winError %} {% endif %}
<p>
  {{ string | replace: '[ERROR]', link}} {% include t.html lang=include.lang
  page="usage-notes" key="winErrorExplain" %} {% include t.html
  lang=include.lang page="usage-notes" key="winErrorSolution" %}
</p>

<h3>Linux: {% include t.html lang=include.lang page="usage-notes" key="install" %}</h3>
{% assign string= include.lang.usage-notes.linDocTitle %} {% if string == nil %}
{% assign string= site.data.en.usage-notes.linDocTitle %} {% endif %} {% assign
link='<a
  href="https://docs.appimage.org/user-guide/troubleshooting/electron-sandboxing.html"
  >[TITLE]</a
>' | replace: '[TITLE]', string %} {% assign string=
include.lang.usage-notes.linDocs %} {% if string == nil %} {% assign string=
site.data.en.usage-notes.linDocs %} {% endif %}
<p>{{string | replace: '[DOCS]', link}}</p>

<code>sysctl kernel.unprivileged_userns_clone</code>

<p>{% include t.html lang=include.lang page="usage-notes" key="linIfZero" %}</p>

<code>
  echo kernel.unprivileged_userns_clone = 1 | sudo tee
  /etc/sysctl.d/00-local-userns.conf
</code>

{% assign string= include.lang.usage-notes.linArticleLink %} {% if string == nil
%} {% assign string= site.data.en.usage-notes.linArticleLink %} {% endif %} {%
assign link='<a href="https://lwn.net/Articles/673597/">[TITLE]</a>' | replace:
'[TITLE]', string %} {% assign string= include.lang.usage-notes.linArticle %} {%
if string == nil %} {% assign string= site.data.en.usage-notes.linArticle %} {%
endif %}

<p>{{ string | replace: '[LINK]', link}}</p>

<h3>MacOS: {% include t.html lang=include.lang page="usage-notes" key="install" %}</h3>

{% assign string= include.lang.usage-notes.macApple %} {% if string == nil %} {%
assign string= site.data.en.usage-notes.macApple %} {% endif %} {% assign
link='<a href="https://support.apple.com/en-ca/HT202491">[TITLE]</a>' | replace:
'[TITLE]', string %} {% assign string= include.lang.usage-notes.macArticle %} {%
if string == nil %} {% assign string= site.data.en.usage-notes.macArticle %} {%
endif %}

<p>{{ string | replace: '[PAGE]', link}}</p>

{% assign string= include.lang.usage-notes.macLink %} {% if string == nil %} {%
assign string= site.data.en.usage-notes.macLink %} {% endif %} {% assign
link='<a
  href="https://stackoverflow.com/questions/64842819/cant-run-app-because-of-permission-in-big-sur/64895860"
  >[TITLE]</a
>' | replace: '[TITLE]', string %} {% assign string=
include.lang.usage-notes.macWarning %} {% if string == nil %} {% assign string=
site.data.en.usage-notes.macWarning %} {% endif %}

<p>{{ string | replace: '[LINK]', link}}</p>

<code>
  codesign --force --deep --sign - "/path/to/Meeting Media Manager.app"
</code>

<h3>MacOS: {% include t.html lang=include.lang page="usage-notes" key="macAutoUpdate" %}</h3>

<p>{% include t.html lang=include.lang page="usage-notes" key="macUnlike" %} {% include t.html lang=include.lang page="usage-notes" key="macHowever" %}</p>

<ul>
  <li>
    {% include t.html lang=include.lang page="usage-notes" key="macDownload" %}
    {% include t.html lang=include.lang page="usage-notes" key="macThen" %}
  </li>
  <li>
    {% include t.html lang=include.lang page="usage-notes" key="macFails" %} {%
    include t.html lang=include.lang page="usage-notes" key="macButton" %} {%
    include t.html lang=include.lang page="usage-notes" key="macVersion" %}
  </li>
</ul>
