html,
body {
  height: 100%;
}

body {
  background: #fff;
}

body,
input,
textarea {
  color: #231734;
  font: 1em 'Open Sans', Arial, sans-serif;
}

.showcase img {
  max-width: 50vw;
}

a {
  color: $blue-primary;
  text-decoration: none;

  &:hover {
    color: $blue-secondary;
    text-decoration: underline;
  }
}
/*
h1,
h2,
h3,
h4,
p,
ul,
code {
  margin: 0 0 20px;
}
*/
h1,
h2,
h3,
h4 {
  margin: 2em 0 1em;
}

code {
  font-family: 'Monaco', monospace, sans-serif;
}
