// app global css in SCSS form

.one-hundred-vh {
  height: 100vh;
}

.one-hundred-vw {
  width: 100vw;
}

.fit-snugly {
  @extend .one-hundred-vh;
  @extend .one-hundred-vw;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap');

#yeartext {
  font-family: 'Wt-ClearText-Bold', 'Noto Serif', serif;
  align-content: center;
  text-align: center;
  color: white !important;
  font-size: 4vw;
  line-height: 2vw;
  font-weight: 300;
  margin: auto;
  bottom: 0;
  right: 0;
  letter-spacing: 0.05rem;
}

.themeScrp {
  margin: 1em;
}

.themeScrp a {
  color: white;
  text-decoration: none;
  outline: none;
  pointer-events: none;
}

#yeartextLogoContainer {
  font-size: 16vh;
  position: absolute;
  bottom: 12vh;
  right: 14vh;
  color: black !important;
  line-height: normal !important;
  box-sizing: unset;
  background: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0) 1.5vh solid;
  height: 12vh;
  width: 12vh;
  overflow: hidden;
  font-family: 'JW-Icons';

  #yeartextLogo {
    margin: -2.5vh -2vh;
  }
}

.q-pr-scroll {
  padding-right: 10px;
}

::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 1em;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

.dotted-borders {
  border: 1px dashed $accent-300;
}

.media-children {
  border: 2px solid $accent-200;
}

span.eloc {
  font-weight: 300;
}

span.eloc::after {
  content: ': ';
}

span.etitle {
  font-weight: 500;
}

.sortable-selected {
  background-color: $sorting-bg !important;
  border-color: $sorting-border !important;
}

.big-button {
  height: 100px;
}

body.body--light {
  background: $primary-bg;

  .bg-primary-light {
    background-color: $primary-bg;
  }

  .bg-primary-semi-transparent {
    background-color: $primary-semi-transparent;
  }

  .q-drawer--left.q-drawer--bordered {
    border-color: $accent-300;
  }

  .bg-accent-100 {
    background-color: $accent-100;
  }

  .bg-accent-100-transparent {
    background-color: $accent-100-transparent;
  }

  .bg-accent-200 {
    background-color: $accent-200;
  }

  .bg-accent-300 {
    background-color: $accent-300;
  }

  .bg-accent-400 {
    background-color: $accent-400;
  }

  .text-dark-grey {
    color: $dark-grey;
  }

  .text-accent-200 {
    color: $accent-200;
  }

  .text-accent-300 {
    color: $accent-300;
  }

  .text-accent-400 {
    color: $accent-400;
  }

  .list-primary .q-hoverable:hover {
    background: $accent-100 !important;
  }

  .media-section {
    background: white;
    border-color: $accent-300;
    border: 1px solid $accent-300;
    // & .q-list {
    //   & .q-item {
    //     // margin-left: 0.25em;
    //   }
    // }

    & .q-item.selected-to-drag {
      background-color: $accent-200;
    }
  }

  .bg-secondary-contrast {
    background-color: $secondary-contrast;
  }

  ::-webkit-scrollbar-track {
    background: $scrollbar-track;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
  }
}

body.body--dark {
  background: $primary-bg-dark;

  .bg-primary-light {
    background-color: $primary-bg-dark;
  }

  .bg-primary-semi-transparent {
    background-color: $primary-semi-transparent-dark;
  }

  .bg-accent-100 {
    background-color: $accent-100-dark;
  }

  .bg-accent-100-transparent {
    background-color: $accent-100-dark-transparent;
  }

  .bg-accent-200 {
    background-color: $accent-100-dark;
  }

  .bg-accent-300 {
    background-color: $accent-300-dark;
  }

  .bg-accent-400 {
    background-color: $accent-200-dark;
  }

  .text-dark-grey {
    color: $dark-grey-dark;
  }

  .text-accent-200 {
    color: $accent-200-dark;
  }

  .text-accent-300 {
    color: $accent-300-dark;
  }

  .text-accent-400 {
    color: $accent-100-dark;
  }

  .text-secondary {
    color: $secondary-contrast !important;
  }

  .list-primary .q-hoverable:hover {
    background: $accent-300-dark !important;
  }

  .media-section {
    background: $dark;
    border-color: $accent-100-dark;
  }

  .bg-secondary-contrast {
    background-color: $secondary-contrast-dark;
    color: $secondary-contrast;
  }

  .q-card {
    box-shadow:
      0 1px 5px $shadow,
      0 2px 2px $shadow,
      0 3px 1px -2px $shadow;
  }

  & .q-item.selected-to-drag {
    background-color: $accent-300-dark;
  }

  ::-webkit-scrollbar-track {
    background: $scrollbar-track-dark;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-dark;
  }

  .media-children {
    border-color: $accent-200-dark;
  }

  .sortable-selected {
    background-color: $sorting-bg-dark !important;
    border-color: $sorting-border-dark !important;
  }
}

.list-droppable {
  min-height: 3em;
}

.list-primary .q-hoverable:hover {
  > .q-focus-helper {
    opacity: 0 !important;
  }
}

.q-banner {
  margin-bottom: 1em;
}

.media-section {
  padding-left: 1.25em;
  border-radius: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  border-radius: 0.75em;
  margin-bottom: 1em;

  &:before {
    bottom: 0;
    content: '';
    margin-left: 0.6em;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.6em;
    border-radius: 5em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  & .q-avatar {
    border-radius: 4px;
    padding-left: 0.5px;
  }

  &.tgw:before {
    background: $treasures;
  }

  &.ayfm:before {
    background: $apply;
  }

  &.lac:before {
    background: $living;
  }

  &.wt:before {
    background: $apply;
  }

  &.circuitOverseer:before,
  &.website:before {
    background: $additional;
  }

  &.congregation:before {
    background: $accent-200;
  }

  &.error:before {
    background: $negative;
  }

  &.active:before {
    background: $primary;
  }
}

.media-section .q-avatar {
  height: 32px;
  width: 32px;
  margin-right: 12px;
}

.jw-icon {
  font-family: 'JW-Icons';

  .q-avatar__content {
    font-size: 22px;
    line-height: 22px;
  }
}

.text-tgw {
  color: $treasures;
}

.text-ayfm {
  color: $apply;
}

.text-lac {
  color: $living;
}

.text-wt {
  color: $apply;
}

.text-white-transparent {
  color: $whiteTransparent;
}

.text-current-page {
  font-size: 90%;
  margin-bottom: -5px;
}

.text-congregation {
  font-size: 70%;
  font-weight: 200;
}

.bg-white-transparent {
  background: $whiteTransparent;
}

.bg-semi-negative {
  background-color: $negative-semi-transparent !important;
}

.q-btn {
  letter-spacing: 0.02em;
  font-weight: 400;
  // font-size: 14px;
}

.q-menu,
.round-card {
  border: 1px solid $accent-300;
  box-shadow: 0px 8px 24px 0px $shadow;
  font-size: 0.9em;
}

.super-rounded {
  border-radius: 6em;
}

.round-card {
  border-radius: 1em;
}

.card-title {
  font-size: 1.1em;
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 1em;
  font-weight: 500;
}

.card-section-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.duration-slider {
  width: calc(100% - 198px);
  bottom: 0px;
  right: 16px;
}

.bg-semi-black {
  background-color: $semi-black;
}

.text-spaced {
  letter-spacing: 0.02em;
}

.text-semibold {
  font-weight: 600;
}

.blue-bar::before {
  background-color: $primary;
  content: '';
  display: block;
  width: 6px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.bg-semi-white-24 {
  background: $semi-white-24;
}

.bg-tgw {
  background: $treasures;
}

.text-tgw {
  color: $treasures;
}

.bg-ayfm {
  background: $apply;
}

.text-ayfm {
  color: $apply;
}

.bg-lac {
  background: $living;
}

.text-lac {
  color: $living;
}

.bg-wt {
  background: $apply;
}

.text-wt {
  color: $apply;
}

.bg-additional,
.bg-circuitOverseer,
.bg-website {
  background: $additional;
}

.text-circuitOverseer,
.text-website {
  color: $additional;
}

.text-bigger {
  font-size: 135%;
}

// .q-expansion-item .q-focus-helper,
// .q-expansion-item .q-focus-helper::after,
// .q-expansion-item .q-focus-helper::before {
//   // border-radius: 0.75em !important;
// }

// .q-expansion-item__content > label:first-child::before,
// .q-expansion-item__content > div:first-child::before {
//   content: '';
//   height: 1px;
//   width: 100%;
//   display: block;
//   position: absolute;
//   background: $accent-200;
//   top: 0;
//   left: 0;
// }

.q-field {
  border-radius: $generic-border-radius;
}

.q-notifications__list--top {
  margin-top: 4em;
}

.q-dialog,
.q-card,
.q-list,
.q-notification,
.q-time,
.q-date,
.q-item:focus-visible {
  user-select: none;
  outline: none;
}

.q-dialog .q-list,
.q-menu .q-list {
  width: 300px;
}

.q-dialog .medium-overlay,
.q-menu .medium-overlay {
  width: 50vw;
  max-width: 50vw;
  min-width: 450px;
}

.q-dialog .large-overlay,
.q-menu .large-overlay {
  width: 80vw;
  max-width: 80vw;
}

.q-dialog .q-dialog__inner > div,
.q-menu .q-menu__inner >  div {
  max-height: 75vh;
}

.dashed-border {
  border: 2px dashed $primary;
}

a {
  color: $primary;
  cursor: pointer;
}

.action-island {
  border-radius: 2em;
  padding: 32px 16px;
  transition: width 0.5s ease;
  box-shadow: 0px 4px 24px 0px rgba(48, 117, 242, 0.4);
}

.action-popup {
  max-width: 450px;
  width: 50vw;
  min-width: 400px;
  max-height: 400px;
}

.media-tag {
  min-width: 80px;
  border-radius: 6px;
}

.media-tag .q-chip__content {
  justify-content: center;
}

.q-menu .q-item__section--avatar,
.q-drawer .q-item__section--avatar {
  min-width: 40px;
}

.modal-confirm {
  // font-size: 1.1em;
  & .text-bigger {
    font-size: 1.4em;
  }
}

.time-duration {
  font-size: 0.9em;
  color: $accent-300;
}

.text-smaller {
  font-size: 0.8em;
}

.text-caption {
  letter-spacing: unset;
}

.q-drawer .disabled {
  opacity: 1 !important;
}

.rounded-borders-lg {
  border-radius: 12px;
}

.rounded-borders-sm {
  border-radius: 4px;
}

.bg-error {
  background-color: $error-semi-transparent;
}

.date-time-input * {
  cursor: pointer;
}

.q-footer.fixed-bottom {
  transform: translateX(-50%);
  width: max-content;
  background-color: transparent;
}

.study-bible-item {
  border: 0.25em solid transparent;
  border-radius: 8px;
}

.study-bible-item img {
  border-radius: unset;
}

.study-bible-item-selected {
  border-color: $primary;
}

.study-bible-item-selected .q-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: transparent;
}

.study-bible-item .q-badge {
  padding: 8px !important;
}

.aspect-ratio-1 {
  aspect-ratio: 1;
}

.col-grid {
  height: auto;
  width: 3em !important;
  max-width: 3em !important;
  flex: auto;
}

.gradient-transparent-to-black {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 20%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.study-bible-item .gradient-transparent-to-black {
  padding: 32px 8px 8px !important;
}

.sortable-media.drop-here {
  min-height: 50px;
}
