// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$typography-font-family: 'Inter', sans-serif !default;

$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$info: #31ccec;

$whiteTransparent: rgba(255, 255, 255, 0.25);

$primary: rgb(48, 117, 242);
$secondary: rgb(33, 33, 33);
$negative: rgb(221, 68, 68);
$warning: rgb(233, 144, 61);

$error-semi-transparent: rgba(196, 63, 63, 0.24);
$negative-semi-transparent: rgba(221, 68, 68, 0.25);

$accent-100: rgb(237, 243, 255);
$accent-100-transparent: rgba(237, 243, 255, 0.5);
$accent-200: rgb(218, 229, 251);
$accent-300: rgb(170, 188, 227);
$accent-400: rgb(130, 153, 199);
$accent-100-dark: rgb(100, 110, 120);
$accent-100-dark-transparent: rgba(100, 110, 120, 0.5);
$accent-200-dark: rgb(60, 67, 90);
$accent-300-dark: rgb(40, 47, 70);
$accent-400-dark: rgb(20, 27, 50);

$scrollbar-track-dark: rgba(255, 255, 255, 0.2);
$scrollbar-thumb-dark: rgba(255, 255, 255, 0.75);
$scrollbar-track: rgba(0, 0, 0, 0.2);
$scrollbar-thumb: rgba(0, 0, 0, 0.55);

$shadow: rgba(73, 76, 85, 0.12);
$semi-black: rgba(33, 33, 33, 0.8);
$semi-white-24: rgba(250, 250, 250, 0.24);

$dark-grey: rgba(77, 77, 77, 1);
$dark-grey-dark: rgba(170, 170, 170, 1);
$grey: rgb(136, 136, 136);

$primary-bg: rgba(228, 234, 245, 1);
$secondary-contrast: rgb(250, 252, 255);

$primary-semi-transparent: rgba(48, 117, 242, 0.48);
$primary-semi-transparent-dark: rgba(75, 132, 237, 0.48);

$primary-bg-dark: #363c49;
$secondary-contrast-dark: black;

$generic-border-radius: 8px !default;
$button-border-radius: 6px !default;

$treasures: rgb(60, 127, 139);
$apply: rgb(214, 143, 0);
$living: rgb(191, 47, 19);
$additional: rgb(148, 94, 181);
