<!DOCTYPE html>

<html lang="{{page.lang}}">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <base href="{{site.url}}{{site.baseurl}}/" target="_blank" />
    <meta name="description" content="Documentation website" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link href="./assets/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="./icon.ico" />
    {% assign pages=site.pages | sort: 'lang' %} {% for page in pages %}{% if
    page.lang %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
    {% endif %}{% endfor %}
  </head>

  <body>
    {% include nav.html %}
    {% assign translations=site.data | where:"lang", page.lang %}

    <section id="content">
      <button class="control show">
        {% include t.html lang=translations page="home" key="expand" %}
      </button>
      <button class="control hide">
        {% include t.html lang=translations page="home" key="collapse" %}
      </button>

      {{ content }}

      <table class="showcase">
        {% include image.html src="main/update-folders.gif" alt="syncInProgress"
        lang=translations page="home" %} {% include image.html
        src="main/main-screen.png" alt="mainScreen" lang=translations page="home" %}
        {% include image.html src="main/date-picker.png" alt="chooseWeek"
        lang=translations page="home" %} {% include image.html
        src="main/sync-complete.png" alt="syncComplete" lang=translations
        page="home" %} {% include image.html src="main/music-playing.png"
        alt="musicPlaying" lang=translations page="home" %}
      </table>
      
      {% assign posts=site.posts | where:"lang", page.lang %} 
      {% for post in posts %}
        <article class="{{ post.type }}">
          <a id="{{ post.ref }}" href="{{page.lang}}/#{{ post.ref }}">
            <h2>{{ post.title }}</h2>
          </a>
          <section class="body">{{ post.content }}</section>
        </article>
      {% endfor %}
    </section>
    <script src="./assets/js/lang.min.js"></script>
    <script src="./assets/js/search.min.js"></script>
    <script src="./assets/js/articles.min.js"></script>
  </body>
</html>
