name: Build/Release

on:
  push:
    branches:
      - master
    paths:
      - 'build/**'
      - 'src/**'
      - 'src-electron/**'
      - 'index.html'
      - 'package.json'
      - 'quasar.config.ts'
      - 'yarn.lock'
  pull_request:
    paths:
      - 'build/**'
      - 'src/**'
      - 'src-electron/**'
      - 'index.html'
      - 'package.json'
      - 'quasar.config.ts'
      - 'yarn.lock'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SENTRY_SOURCE_MAPS: ${{ github.event_name == 'push' && 'true' || 'false' }}
