name: Close Stale Discussions

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight UTC

jobs:
  close-stale-discussions:
    runs-on: ubuntu-latest

    steps:
      - name: Run action
        uses: steffen-karlsson/stalesweeper@v1.1.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message: 'This discussion has automatically been closed due to inactivity.'
          days-before-close: '30'
          close-unanswered: 'true'
          close-reason: 'OUTDATED'
          verbose: 'true'
