name: Rerun workflow

on:
  workflow_dispatch:
    inputs:
      run_id:
        required: true
jobs:
  rerun:
    runs-on: ubuntu-latest
    steps:
      - name: rerun
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
          GH_DEBUG: api
          RUN_ID: ${{ inputs.run_id }}
        run: |
          gh run watch $RUN_ID > /dev/null 2>&1
          gh run rerun $RUN_ID --failed
